{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
 {% block content %}
<div class="container" style="max-width: 1200px;">
    <h1 class="text-center">Listado de Animales</h1>
    <p class="text-center">Total de animales: {{ total_animals }}</p>
    <div class="row">
        {% for animal in animals %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ animal.image.url }}" alt="{{ animal.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ animal.name }}</h5>
                        <p class="card-text">
                            <strong>Especie:</strong> {{ animal.species }} <br>
                            <strong>Edad:</strong> {{ animal.age }} años <br>
                            <strong>Descripción:</strong> {{ animal.description }} <br>
                            <strong>Protector:</strong> {{ animal.protector.name }} <br>
                        </p>
                        {% if not user.is_protector %}
                        <a href="{% url 'send_message' recipient_id=animal.protector.user.id %}" class="btn btn-link" style="padding: 0; border: none; background: none;">
                            <img src="{% static 'img/chat.png' %}" alt="Message" style="width: 20px; height: 20px; vertical-align: middle;">
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning text-center">No hay animales registrados.</div>
            </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <div class="pagination justify-content-center mt-4">
        <ul class="list-inline">
            {% if animals.has_previous %}
                <li class="list-inline-item"><a href="?page=1" class="btn btn-secondary">Primera</a></li>
                <li class="list-inline-item"><a href="?page={{ animals.previous_page_number }}" class="btn btn-secondary">Anterior</a></li>
            {% endif %}
            <li class="list-inline-item disabled"><span class="btn btn-light">Página {{ animals.number }} de {{ animals.paginator.num_pages }}</span></li>
            {% if animals.has_next %}
                <li class="list-inline-item"><a href="?page={{ animals.next_page_number }}" class="btn btn-secondary">Siguiente</a></li>
                <li class="list-inline-item"><a href="?page={{ animals.paginator.num_pages }}" class="btn btn-secondary">Última</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}