{% extends 'home/base.html' %}

{% block content %}
  <div class="container form-container">
    <div class="form-wrapper">
      <h2>Añadir nuevo Animal</h2>
      <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del Animal</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required>
        </div>

        <div class="mb-3">
            <label for="species" class="form-label">Especie</label>
            <select id="species" name="species" class="form-select" required>
                <option value="">Selecciona una especie</option>
                <option value="perro">Perro</option>
                <option value="gato">Gato</option>
                <!--<option value="roedor">Roedor</option>-->
                <!--<option value="reptil">Reptil</option>-->
            </select>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Edad</label>
            <input type="number" id="age" name="age" class="form-control" placeholder="Edad en años" min="0" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea id="description" name="description" class="form-control" placeholder="Descripción del animal" rows="4" required></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Photo</label>
            <input type="file" id="image" name="image" class="form-control" accept="image/*" required>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    </div>
  </div>
{% endblock %}
