{% extends 'home/base.html' %}
{% load static %}

{% block title %}Animales de {{ protector.name }}{% endblock %}

{% block content %}
<div class="container" style="max-width: 1200px; margin: 0 auto; padding: 0;">
    <div class="text-center mb-4">
        {% if user.protector %}
            <h1>Animales de {{ protector.name }}</h1>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'edit_protector' %}'">
                Editar
            </button>
        {% else %}
            <h1>Registro de protectora/asociación</h1>
            <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'create_protector' %}'">
                Crear
            </button>
        {% endif %}
    </div>

    <div class="row">
        {% for animal in animals %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ animal.image.url }}" alt="{{ animal.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{ animal.name }}</h5>
                    <p class="card-text">
                        <strong>Especie:</strong> {{ animal.species }} <br>
                        <strong>Edad:</strong> {{ animal.age }} años <br>
                        <strong>Descripción:</strong> {{ animal.description }} <br>
                    </p>
                    <div class="d-flex justify-content-between">
                        <!-- Botón Editar como un formulario -->
                        <form method="get" action="{% url 'edit_animal' animal.id %}" class="m-0">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
        
                        <!-- Botón Eliminar con Confirmación -->
                        <form method="post" action="" class="m-0" onsubmit="return confirmDelete();">
                            {% csrf_token %}
                            <input type="hidden" name="animal_id" value="{{ animal.id }}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No tienes animales registrados.
                </div>
            </div>
        {% endfor %}
    </div>

    {% block extra_scripts %}
    <script>
        function confirmDelete() {
            return confirm("¿Estás seguro de que quieres eliminar este animal?");
        }
    </script>
    {% endblock %}
</div>
{% endblock %}