{% extends 'home/base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Editar datos de la protectora</h1>
  
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <!-- Campo para el nombre de la protectora -->
      <div class="mb-3">
          <label for="name" class="form-label">Nombre de la protectora</label>
          <input type="text" id="name" name="name" class="form-control" value="{{ form.name.value|default_if_none:'' }}" required>
      </div>

      <!-- Campo para la ubicación -->
      <div class="mb-3">
          <label for="location" class="form-label">Ubicación</label>
          <input type="text" id="location" name="location" class="form-control" value="{{ form.location.value|default_if_none:'' }}" required>
      </div>

      <!-- Campo para el logo -->
      <div class="mb-3">
          <label for="logo" class="form-label">Logo de la protectora</label>
          <input type="file" id="logo" name="logo" class="form-control">
      </div>

      <!-- Botón para guardar cambios -->
      <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>
</div>
{% endblock %}