{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Editar Perfil {{ username }}</h1>
  
  <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" id="email" name="email" class="form-control" value="{{ form.email.value|default_if_none:'' }}" required>
      </div>

      <div class="mb-3">
          <label for="first_name" class="form-label">Nombre</label>
          <input type="text" id="first_name" name="first_name" class="form-control" value="{{ form.first_name.value|default_if_none:'' }}" required>
      </div>

      <div class="mb-3">
          <label for="last_name" class="form-label">Apellido</label>
          <input type="text" id="last_name" name="last_name" class="form-control" value="{{ form.last_name.value|default_if_none:'' }}" required>
      </div>

      <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </form>
</div>
{% endblock %}


