<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Huella Amiga</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container form-container">
        <div class="form-wrapper">
            <h1 style="text-align: center;">
                <img src="{% static 'logo.png' %}" alt="Logo" style="max-width: 100%; height: auto; display: inline-block;">
            </h1>
            <h2>Sign in</h2>
            <form method="post" id="loginForm">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <div class="error">{{ form.username.errors }}</div>
                </div>
    
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <div class="error">{{ form.password.errors }}</div>
                </div>
                <br>
                <button type="submit">Sign in</button>
            </form>
            <br>
            <!--<a href="#">¿Olvidaste la contraseña?</a>-->
            <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a></p>
            <footer>
                <p>By logging in, you accept our <a href="{% url 'terms' %}">Terms and Privacy Policy.</a></p>
            </footer>
        </div>
    </div>
    
    <!-- JavaScript para controlar el spinner -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginForm = document.getElementById('loginForm');

            if (loginForm) {
                loginForm.addEventListener('submit', function() {
                    document.getElementById('loader').style.display = 'flex'; // Mostrar el spinner
                });
            }
        });
    </script>
</body>
</html>
