{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Huella Amiga</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container form-container">
        <div class="form-wrapper">
          <h2>Términos y Condiciones</h2>
          <p>
            Los términos y condiciones de uso de nuestro sitio web establecen las reglas y directrices para el uso de nuestros servicios. Al acceder a este sitio web, usted acepta cumplir con estos términos.
          </p>
          <br>
          <h3>Uso del sitio web</h3>
          <p>
            Al utilizar este sitio, usted se compromete a no realizar acciones que puedan dañar o interrumpir el funcionamiento de este sitio. Además, debe asegurarse de no violar ninguna ley aplicable en su jurisdicción.
          </p>
          <br>
          <h2>Política de Privacidad</h2>
          <p>
            Nuestra política de privacidad describe cómo recopilamos, usamos y protegemos la información personal que se nos proporciona al usar este sitio web.
          </p>  <br>
          <h3>Recopilación de datos</h3>
          <p>
            Recopilamos información personal como su nombre, dirección de correo electrónico y otra información que nos proporcione al registrarse o usar nuestros servicios.
          </p>
          <br>
          <h3>Uso de los datos</h3>
          <p>
            Utilizamos la información recopilada para mejorar nuestros servicios, responder a sus consultas, y enviarle información relevante sobre nuestros productos y servicios.
          </p>
          <br>
          <h3>Protección de datos</h3>
          <p>
            Tomamos medidas de seguridad adecuadas para proteger su información personal contra el acceso no autorizado, la divulgación o alteración.
          </p>
          <br>
          <h2>Contacto</h2>
          <p>
            Si tiene alguna pregunta sobre nuestros términos y condiciones o nuestra política de privacidad, no dude en contactarnos.
          </p>
        </div>
      </div>
  
</body>
</html>

